@CHARSET "UTF-8";

body{font-family:DRAGON QUEST MONSTERS;}

table{
	border:4px solid black;
	border-radius:10px;
	text-align:center;
	font-size:20px;
	text-align:center;
	width:350px;
}
.namebox td{
	border-bottom:2px solid black;
	width:100px;
}
.hpbox td{
	width:100px;
}
.mpbox td{
	width:100px;
}
td.smalltd{
	width:40px;
}


.enemybox{
	width:310px;
	height:100px;
	padding-left:44px;
	background-color:white;
}
.enemyminibox{
	width:100px;
	height:100px;
	background-color:white;
	float:left;
}

.enemykaribox{
	width:100px;
	height:100px;
	background-color:white;
	float:left;
}

.flashbox{
	width:100px;
	height:100px;
	background-color:white;
	float:left;
}
.vanishbox{
	width:100px;
	height:100px;
	background-color:white;
	float:left;
}

.textbox{
    width:328px;
    height:100px;
    border:4px solid black;
    border-radius:10px;
    font-size:20px;
    padding-left:15px;
}

a{
	color:black;
	text-decoration:none;
}

.criticalbox{
	width:300px;
	color:white;
	height:20px;
}

a .textafterbox{
	width:100%;
	color:white;
	height:20px;
	text-decoration:none;
}
a .textdestroybox{
	width:300px;
	color:white;
	height:20px;
}
.firstbox{
	width:100px;
	height:100px;
	background-color:black;
}

.coinbox{
	border:1px solid black;
	border-radius:5px;
	width:120px;
	height:25px;
	padding-left:10px;
	padding-top:5px;
	margin-left:180px;
	color:black;
	margin-top:10px;
	float:right;
}

.coinwinnerbox{
	border:1px solid black;
	border-radius:5px;
	width:120px;
	height:25px;
	padding-left:10px;
	padding-top:5px;
	margin-right:10px;
	color:black;
	margin-top:10px;
	float:right;
}
.coinwinnerafterbox{
	border:1px solid white;
	border-radius:5px;
	width:120px;
	height:25px;
	padding-left:10px;
	padding-top:5px;
	margin-right:10px;
	color:white;
	margin-top:10px;
	float:right;
}