@CHARSET "UTF-8";
.datebox{
	width:300px;
	height:75px;
	border:1px solid black;
	border-radius:5px;
	padding:10px;
}
.enemybox{
	height:110px;
	width:100%;
	padding-top:10px;
}
.enemyfirstbox{
	height:100px;
	width:100px;
	float:left;
}
.enemysecondbox{
	height:100px;
	width:100px;
	float:left;
}
.enemythirdbox{
	height:100px;
	width:100px;
	float:left;
}

.firstmessagebox{
	padding-top:10px;
	height:90px;
	width:180px;
	margin-left:20px;
	marign-top:15px;
	border-radius:5px;
	border:1px solid white;
	color:white;
	text-align:center;
	float:left;
}
.secondmessagebox{
	padding-top:10px;
	height:90px;
	width:180px;
	margin-left:20px;
	marign-top:15px;
	border-radius:5px;
	border:1px solid white;
	color:white;
	text-align:center;
	float:left;
}
.thirdmessagebox{
	padding-top:10px;
	height:90px;
	width:180px;
	margin-left:20px;
	marign-top:15px;
	border-radius:5px;
	border:1px solid white;
	color:white;
	text-align:center;
	float:left;
}

.selectbutton{
	height:20px;
	width:88px;
	text-align:center;
	float:left;
	border:1px solid white;
	border-top:2px solid white;
}



.texttopbox{
	height:30px;
	width:300px;
	border:1px solid black;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.textbottombox{
	height:90px;
	width:300px;
	border:1px solid black;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
td{
	width:90px;
	text-align:center;


}

tr.selectfirstbox{
	color:black;
	height:100%;
	width:100px;
	text-align:center;

}
tr.selectsecondbox{
	color:black;
	height:100%;
	width:100px;
	text-align:center;

}
tr.selectthirdbox{
	color:black;
	height:100%;
	width:100px;
	text-align:center;

}
table{
	float:left;
}
a{
	color:black;
	text-decoration:none;
}
.selectbutton a{
	color:white;
	text-decoration:none;
}

.coinbox{
	border:1px solid black;
	border-radius:5px;
	width:130px;
	height:45px;
	float:right;
	padding-left:10px;
	padding-top:5px;
}




